.container {
  text-align: center;
}

.race-track {
  width: 500px;
  margin: 20px auto;
  background-color: #ccc;
  position: relative;
  height: 200px;
  /* Altura da pista */
}

.car {
  width: 50px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.red {
  top: 5px;
  background-color: red;
}

.blue {
  top: 40px;
  background-color: blue;
}

.green {
  top: 80px;
  background-color: green;
}

.yellow {
  top: 120px;
  background-color: yellow;
}

.orange {
  top: 160px;
  background-color: orange;
}

.controls {
  margin-top: 20px;
}

#result {
  margin-top: 20px;
}

#saldo {
  margin-top: 10px;
}